*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d3d8dc;
}

/* Header */
header{
    padding-top: 10px;
    background-color: white;
}

#logo{
    margin-left: 20px;
    vertical-align: middle;
}

#titolo{
    display: inline-block;
    vertical-align: middle;
}

.container{
    width: 50%;
    padding-bottom: 10px;
    background-color: white;
    padding-left: 40px;
    margin: auto;
}

main{
   
    padding-top: 50px;
    
}

/* Bottoni */
.buttons{
    padding-top: 20px;
    padding-bottom: 10px;
}

#btask{
    border: 1px solid #47adf1;
    color: white;
    background-color: #47adf1;
    border-radius: 5px;
    padding: 5px 10px;
}

#bsection{
    border: 1px solid #d3d8dc;
    color: #d3d8dc;
    border-radius: 5px;
    padding: 5px 10px;
}

/* Modifiche liste e punti elenco */

.macrolista{
    border-top: 1px solid #d3d8dc;
    list-style-type: none;
}

.microlista{
    list-style-type: none;
}

#freccetta{
    font-size: 20px;
    vertical-align: middle;
}

.pelenco{
    border: 1px solid;
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 10px;
    text-align: center;
    margin-right: 10px;    
}

.done{
    color: #73c8b4;
    border-color: #73c8b4;
}

.undone{
    color: #eb5f58;
    border-color: #eb5f58;

}

/* Modifiche targhette */
.targhetta{
    border: 1px solid;
    border-radius: 10px;
    padding: 4px 8px;
    font-size: 10px;
    display: inline-block;
    vertical-align: middle;
    color: white;
}

.editorial{
    background-color: #45abea;
}

.goals{
    background-color: #9c72e4;
}

.recruiting{
    background-color: #64c0a9;
}

.mobile{
    background-color: #f29e33;
}

.website{
    background-color: #d863a1;
}

.sales{
    background-color: #b0c926;
}

/* Modifiche targhette */

h3{
    margin-top: 40px;
}

.spazioli{
    margin-top: 15px;
}


